<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
   <h1>Chat</h1>
    <a href="/">Volver a la tienda</a>
    <div id="messages">
        <ul>
        {{#each messages}}
            <li>
                <strong>{{this.user}}</strong>: {{this.message}}
            </li>            
        {{/each}}
        </ul>
    </div>

    <form action="/chat/sendMessage" method="post">
        <input type="text" name="user" placeholder="Tu correo">
        <input type="text" name="message" placeholder="Escribe tu mensaje">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>