<!-- realTimeProducts.handlebars -->
<h1>Ver Lista de Productos (Tiempo Real) en el home</h1>
<a href="/">Ver productos</a>
<ul id="productList">
    {{#each products}}
        <li>
            {{this.name}} - ${{this.price}} 
            <button class="delete-btn" data-product-id="{{this._id}}">Eliminar</button>
        </li>
    {{/each}}
</ul>

<form action="/addProduct" method="post">
    <label for="productName">Nombre:</label>
    <input type="text" id="productName" name="productName" required>
    <label for="productPrice">Precio:</label>
    <input type="number" id="productPrice" name="productPrice" required>
    <button type="submit" id="addProductBtn">Agregar Producto</button>
</form>


<div>
    <a href="/chat">Hablar con un asesor</a>
</div>

<script src="/js/index.js"></script>

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> --}}